@font-face {
  font-family: "OCR";
  src: url('./assets/OCR.ttf') format('truetype');
}

body {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(16, 16, 16);
  font-family: "OCR", monospace;
  color: rgb(224, 192, 192);
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1em;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#twitter {
  filter: brightness(1) contrast(1) grayscale(0) hue-rotate(0deg) invert(0) opacity(1) saturate(100) sepia(0);
}

#youtube {
  align-self: center;
}

#menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#opis {
  align-self: center;
  width: 540px;
}
