@font-face {
  font-family: "Data";
  font-style: normal;
  font-weight: normal;
  src: local("Data"), url('./assets/Data.otf') format('opentype');
}

body {
  display: flex;
  flex-flow: column nowrap;
  /*background-color: #292F33;*/
  background-color: #000000;
  font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;;
  color: rgb(224, 192, 192);
}

body.error {
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

h1 {
  font-family: "Data";
  font-size: 5em;
  color: #ff9200;
  letter-spacing: 0.5em;
  line-height: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 3em;
  padding: 0.5em;
  color: #ff9200;
  /*
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  */
}

h3 {
  color: #000000;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1em;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

main.center{
  height: 100%;
  align-items: center;
  justify-content: center;
}

#twitter {
  filter: brightness(1) contrast(1) grayscale(0) hue-rotate(0deg) invert(1) opacity(1) saturate(1) sepia(0);
}

#twitch {
  width: 520px;
}

#menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#opis {
  width: 540px;
}
